

body {
	background-color: #CCC;
}

#fluid {
	width: 50%;
	height: 200px;
	border: 2px solid black;
}

@media screen and (max-device-width: 480px){ 
	#fluid {
		width: 100%;
		border: 2px solid red;
    }
}